/* body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

/* full container */
.full-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: grey;
}

/* heading of list */
.heading {
  color: grey;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0;
}

/* Description of task */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task-description-container {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border-top: 1px solid rgb(96, 91, 91);
  transition: background-color 0.4s;
}

.description:hover {
  background-color: rgb(224, 224, 224);
}

.description input {
  border: none;
  transition: background-color 0.4s;
}

.description:hover * {
  background-color: rgb(224, 224, 224);
}

.description input:focus {
  outline: 0ch;
}

/* categories */

.explanation-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(96, 91, 91);
}

.categories,
.due-date {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(96, 91, 91);
  padding: 10px 10px;
}

.categories {
  border-right: 1px solid rgb(96, 91, 91);
  transition: background-color 0.4s;
}
.categories:hover {
  background-color: rgb(224, 224, 224);
}

.categories:hover * {
  background-color: rgb(224, 224, 224);
}

/* dropdown for categories */
.dropdown {
  border: none;
  color: grey;
  padding: 5px;
  transition: background-color 0.4s;
}
.dropdown:focus {
  outline: 0;
}
.dropdown option {
  height: 10px;
  line-height: 7px;
  border: none;
}

/* due-date */

.due-date {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: background-color 0.4s;
}

.due-date:hover {
  background-color: rgb(224, 224, 224);
}
.due-date:hover #calender {
  background-color: rgb(224, 224, 224);
}

#calender {
  border: none;
  color: grey;
  transition: background-color 0.4s;
}
#calender:focus {
  outline: 0;
}

/* btns */
.btns {
  padding: 25px 0;
  display: flex;
}
.add-btn,
#delete-btn {
  color: white;
  border: none;
  padding: 12px 0;
  width: 120px;
  cursor: pointer;
}
.add-btn {
  background-color: rgb(52, 49, 49);
  width: 100%;
  padding: 0 20px;
  margin-right: 3px;
}
#delete-btn {
  background-color: rgb(210, 0, 0);
  /* margin-left: 20px; */
  margin-left: 3px;
}
/* #delete-btn a {
  text-decoration: none;
  color: white;
  background-color: blue;
} */

/* todo list added */
.todo-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-added {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(96, 91, 91);
  padding: 10px 0;
}

.left-side-list {
  color: grey;
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
  text-decoration: none;
}
.left-side-list a {
  z-index: 100;
}
#ids:checked + label {
  text-decoration: line-through;
}

.task-name-added {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.task-added-date {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}
.fetch-date {
  padding-left: 8px;
}
/* button */
.right-side-list {
  padding-right: 20px;
}
.task-for-btn {
  /* background-color: green; */
  color: white;
  padding: 6px 0;
  border: none;
  font-size: large;
  width: 90px;
}
